In [3]:
import pandas as pd

In [10]:
a =[4, 2, 6, 4, 7, 6, 9]
a

[4, 2, 6, 4, 7, 6, 9]

In [11]:
a = pd.Series(a)
type(a)
a

0    4
1    2
2    6
3    4
4    7
5    6
6    9
dtype: int64

In [12]:
a.max()

9

In [13]:
a.min()

2

In [14]:
a.mean()

5.428571428571429

In [15]:
a.mode()

0    4
1    6
dtype: int64

In [17]:
a.median()

6.0

In [18]:
a.sort_values()

1    2
0    4
3    4
2    6
5    6
4    7
6    9
dtype: int64

In [19]:
a.sort_values(ascending=False)

6    9
4    7
2    6
5    6
0    4
3    4
1    2
dtype: int64

In [20]:
# The sorting is not going to stay unless I put inplace= True tthis will change the Series 
a.sort_values(inplace=True)

In [21]:
a

1    2
0    4
3    4
2    6
5    6
4    7
6    9
dtype: int64

### Indexing

In [22]:
a[:3]

1    2
0    4
3    4
dtype: int64

In [23]:
a[:1]

1    2
dtype: int64

In [24]:
a[2:]

3    4
2    6
5    6
4    7
6    9
dtype: int64

### Create a Dataframe from a list

In [1]:
list_a = ['Lena', 'Alix',  'Alex']

In [5]:
df = pd.DataFrame(list_a)
df

      0
0  Lena
1  Alix
2  Alex

### Create a DataFrame from a dictionary

In [13]:
dic_a = pd.DataFrame({'Prénom': ['Lena', 'Alix',  'Alex', 'Nadia'] , 'Date anniversaire':['02/12' , '13/01' , '26/11', '14/07']})
dic_a

  Prénom Date anniversaire
0   Lena             02/12
1   Alix             13/01
2   Alex             26/11
3  Nadia             14/07

In [14]:
dic_a["Prénom"]

0     Lena
1     Alix
2     Alex
3    Nadia
Name: Prénom, dtype: object

In [16]:
#getting a single row 
dic_a.loc[0,:]

Prénom                Lena
Date anniversaire    02/12
Name: 0, dtype: object

In [19]:
#getting a single col
dic_a.loc[:,["Prénom"]]

  Prénom
0   Lena
1   Alix
2   Alex
3  Nadia

In [21]:
dic_a.loc[:,["Prénom", "Date anniversaire"]]

  Prénom Date anniversaire
0   Lena             02/12
1   Alix             13/01
2   Alex             26/11
3  Nadia             14/07

In [23]:
dic_a[["Prénom", "Date anniversaire"]]

  Prénom Date anniversaire
0   Lena             02/12
1   Alix             13/01
2   Alex             26/11
3  Nadia             14/07

In [26]:
# I can use .describe func() for a single col to get quick overview 
dic_a["Prénom"].describe()

count        4
unique       4
top       Lena
freq         1
Name: Prénom, dtype: object